[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
matplotlib = "*"
tensorflow = "*"
keras = "*"
pandas = "*"
pydot = "*"
graphviz = "*"
gensim = "*"
pillow = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.18"
